* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* regole container */
.container {
    margin: 0 auto;
    padding-top: 3rem;
    max-width: 1300px;
    text-align: center;
}

/* regole header */
header {
    margin-bottom: 2rem;
    max-width: 600px;
    margin: 0 auto;
}
.image-container{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 1rem;
}
.image-container img {
    max-width: 100%;
}

h1 {
    font-size: 3rem;
}

/* regole card */
.card {
    margin: 0 auto;
    width: 70%;
    margin-top: 2rem;
    padding: 1.5em;
    background-color: #e1e1e1a5;
    border-radius: 2em;
    /* debug */
    min-height: 300px;
}

/* regole lista */
ul {
    list-style: none;
    width: 100%;
}
.list {
    padding: 0.5em 0.8em;
    background-color: #ffffff79;
    border-radius: 0.5em;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transition: all 0.2s ease;
}
.list:hover {
    background-color: #ffffff;
    box-shadow: 0 0 0.5rem 0.2rem #278fd494;
}

/* regole colonne */
.col-text {
    text-decoration: line-through;
}
.col-icons {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.col-icons input{
    width: 1.3rem;
    aspect-ratio: 1/1;
}

